::ng-deep .p-organizationchart-table>tbody>tr>td {
    padding: 0px 0.25rem !important;
}

::ng-deep .p-organizationchart .p-organizationchart-line-top {
    border-top: 2px solid #727272;
    border-color: #727272;
}

::ng-deep .p-organizationchart-line-right {
    border-radius: 10px !important;
}

::ng-deep .p-organizationchart-line-left {
    border-radius: 10px !important;
}

::ng-deep .p-organizationchart .p-organizationchart-node-content {
    padding: 0rem;
}